<footer class="site-footer container medium">
    <!-- remove comment to turn on subscribe
        {{> customize/subscribe}}-->
    <div class="copyright">
        Powered by <a href="https://ghost.org/" target="_blank">Ghost</a> && Based on <a href="https://github.com/TryGhost/Wave" target="_blank">Wave</a>
    </div>
</footer>

{{^is "post"}}
    {{> player is_external=true}}
{{/is}}