/*
=====
DEPENDENCIES
=====
*/

.r-button {
	--uirButtonBackgroundColor: var(--rButtonBackgroundColor, transparent);
	--uirButtonPadding: var(
		--rButtonPadding,
		var(--rButtonPaddingTop, 0) var(--rButtonPaddingRight, 0)
			var(--rButtonPaddingBottom, 0) var(--rButtonPaddingLeft, 0)
	);
	--uirButtonBorderWidth: var(--rButtonBorderWidth, 0);
	--uirButtonBorderStyle: var(--rButtonBorderWidth, solid);
	--uirButtonBorderColor: var(--rButtonBorderColor, currentColor);
	--uirButtonFontFamily: var(--rButtonFontFamily, inherit);
	--uirButtonFontSize: var(--rButtonFontSize, inherit);
	--uirButtonColor: var(--rButtonColor);

	background-color: var(--uirButtonBackgroundColor);
	padding: var(--uirButtonPadding);

	border-width: var(--uirButtonBorderWidth);
	border-style: var(--uirButtonBorderStyle);
	border-color: var(--uirButtonBorderColor);

	cursor: pointer;

	font-family: var(--uirButtonFontFamily);
	font-size: var(--uirButtonFontSize);
}

.r-button::-moz-focus-inner,
.r-button[type="button"]::-moz-focus-inner,
.r-button[type="reset"]::-moz-focus-inner,
.r-button[type="submit"]::-moz-focus-inner {
	/* Remove the inner border and padding in Firefox. */

	border-style: none;
	padding: 0;
}

/* The component will reset browser's styles of link */

.r-link {
	--uirLinkDisplay: var(--rLinkDisplay, inline-flex);
	--uirLinkTextColor: var(--rLinkTextColor);
	--uirLinkTextDecoration: var(--rLinkTextDecoration, none);
	display: var(--uirLinkDisplay) !important;
	color: var(--uirLinkTextColor) !important;
	text-decoration: var(--uirLinkTextDecoration) !important;
}

/*
=====
CORE STYLES
=====
*/

.ai-element {
	--uiaiElementDisplay: var(--aiElementDisplay, inline-flex);
	--uiaiElementPadding: var(
		--aiElementPadding,
		var(--aiElementPaddingTop, 0) var(--aiElementPaddingRight, 0)
			var(--aiElementPaddingBottom, 0) var(--aiElementPaddingLeft, 0)
	);
	--uiaiElementColor: var(--aiElementColor);

	display: var(--uiaiElementDisplay);
	position: relative;
	overflow: hidden;
}

a.ai-element {
	padding: var(--uiaiElementPadding);
}

button.ai-element {
	--rButtonPadding: var(--uiaiElementPadding);
}

.ai-element__label {
	color: var(--uiaiElementColor);
}

/* 
Styles of elements with background
*/

.ai-element_type3 {
	--uiaiElementLineColor: var(--aiElementLineColor, #000);
	--uiaiElementPadding: var(--aiElementPadding, 10px);
	transition: color 0.3s ease-out;
	z-index: 1;
}

.ai-element_type3::before,
.ai-element_type3::after {
	content: "";
	background-color: var(--uiaiElementLineColor);
	opacity: 1;
	position: absolute;
	z-index: -1;

	transition: transform 0.35s ease-out, opacity 0.35s ease-out 0.03s;
}

.ai-element_type3:hover::before,
.ai-element_type3:hover::after {
	opacity: 0;
	transition-delay: 0s;
}

.ai-element_text::before {
	content: attr(data-ai-element-text);
	color: var(--uiaiElementColorHover);
	position: absolute;
}

.ai-element_text::before,
.ai-element_text .ai-element__label {
	transition-property: transform;
	transition-timing-function: cubic-bezier(0.86, 0.6, 0.08, 1.01);
	transition-duration: 0.4s;
}

.ai-element_text:hover::before,
.ai-element_text:hover .ai-element__label {
	transition-duration: 0.3s;
}



/*
=====
EFFECTS
=====
*/

/* effect 9 */

.ai-element9::before,
.ai-element9::after {
	width: 51%;
	height: 100%;
	top: 0;
	transform: translate3d(0, 0, 0);
}

.ai-element9::before {
	left: 0;
}

.ai-element9::after {
	right: 0;
}

.ai-element9:hover::before {
	transform: translate3d(-100%, 0, 0) rotate(-45deg);
}

.ai-element9:hover::after {
	transform: translate3d(100%, 0, 0) rotate(-45deg);
}


.ai-element__label {
	--uiaiElementColorHover: var(--aiElementColorHover);
}

.ai-element:hover .ai-element__label {
	color: var(--uiaiElementColorHover);
}

/*
=====
SETTINGS
=====
*/

/* settings of button */
.ai-element {
	--aiElementLineWeight: 5px;
	--aiElementLineColor: #000000;
	--aiElementColor: #1b255a;
	--aiElementColorHover: #000000;
}

.ai-element_type1,
.ai-element_type3 {
	--aiElementPadding: 10px 15px;
}

.ai-element_type3 {
	--aiElementColor: #fff;
}

/* setting of link */


:root{
  --textOutlinedWeight: 5px;
  --textOutlinedLineColor: #243aab;
  --textOutlinedPadding: .75rem 1rem;
  --textUnderlinedLineHeight: 5px;
  --textUnderlinedLineGap: .25rem;
  --textUnderlinedLineColor: #243aab;
  --textFlatBackgroundColor: #243aab;
  --textFlatPadding: .75rem;
}

.text-flat{
  --linkTextColorHover: #fff;
}


